// Backgrounds

.white-bg {
  background: $white;
}

.grey-bg {
  background: $grey;
}

.black-bg {
  background: $black;
}

// Colours

.grey {
  color: $grey;
}

.grey-variant {
  color: $grey-variant;
}

.primary {
  color: $primary;
}

.primary-variant {
  color: $primary-variant;
}

.accent {
  color: $accent;
}

.accent-variant {
  color: $accent-variant;
}

.white {
  color: $white;
}

.black {
  color: $black;
}

// Opacity

.opacity-75 {
  opacity: 0.75;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-0 {
  opacity: 0;
}
