// Padding

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-4 {
  padding-left: $spacing-1;
}

.pr-4 {
  padding-right: $spacing-1;
}

.pt-4 {
  padding-top: $spacing-1;
}

.pb-4 {
  padding-bottom: $spacing-1;
}

.pl-8 {
  padding-left: $spacing-2;
}

.pr-8 {
  padding-right: $spacing-2;
}

.pt-8 {
  padding-top: $spacing-2;
}

.pb-8 {
  padding-bottom: $spacing-2;
}

.p-8 {
  padding: $spacing-2;
}

.p-16 {
  padding: $spacing-4;
}

.pl-16 {
  padding-left: $spacing-4;
}

.pr-16 {
  padding-right: $spacing-4;
}

.pt-16 {
  padding-top: $spacing-4;
}

.pb-16 {
  padding-bottom: $spacing-4;
}

.p-24 {
  padding: $spacing-5;
}

.pl-24 {
  padding-left: $spacing-5;
}

.pr-24 {
  padding-right: $spacing-5;
}

.pt-24 {
  padding-top: $spacing-5;
}

.pb-24 {
  padding-bottom: $spacing-5;
}

.p-24 {
  padding: $spacing-5;
}

// Margin

.m-center {
  margin: 0 auto;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-4 {
  margin-left: $spacing-1;
}

.mr-4 {
  margin-right: $spacing-1;
}

.mt-4 {
  margin-top: $spacing-1;
}

.mb-4 {
  margin-bottom: $spacing-1;
}

.ml-8 {
  margin-left: $spacing-2;
}

.mr-8 {
  margin-right: $spacing-2;
}

.mt-8 {
  margin-top: $spacing-2;
}

.mb-8 {
  margin-bottom: $spacing-2;
}

.m-16 {
  margin: $spacing-4;
}

.ml-16 {
  margin-left: $spacing-4;
}

.mr-16 {
  margin-right: $spacing-4;
}

.mt-16 {
  margin-top: $spacing-4;
}

.mb-16 {
  margin-bottom: $spacing-4;
}

.ml-24 {
  margin-left: $spacing-5;
}

.mr-24 {
  margin-right: $spacing-5;
}

.mt-24 {
  margin-top: $spacing-5;
}

.mb-24 {
  margin-bottom: $spacing-5;
}

.m-24 {
  margin: $spacing-5;
}
